{% set registries = pillar['ceph-salt'].get('container', {}).get('registries', []) -%}
# {% include "ceph-salt/apply/files/managed-header.txt.j2" ignore missing %}
# For more information on this configuration file, see containers-registries.conf(5)

{% for reg in registries %}
[[registry]]
{% if reg.prefix is defined %}
prefix = "{{ reg.prefix }}"
{% endif %}
location = "{{ reg.location }}"
{% if reg.insecure is defined %}
insecure = {{ '{}'.format(reg.insecure) | lower }}
{% endif %}
{% if reg.blocked is defined %}
blocked = {{ '{}'.format(reg.blocked) | lower }}
{% endif %}
{% endfor %}
